$background:    yellow;
$bg_light:      yellow;
$border:        #ff0000;
$subject:       #ff0000;
$header:        #ffffff;
$link:          #0000ee;
$hover:         #ff0000;
$quote:         #000080;
$post:          #ff0000;
$name:          #117743;
$black:         #000000;
$green:         #789922;
$active:        #ff0000;
$active_border: lightgray;

body {
  background-color: $background;
}

body, h1, h2 {
  color: $header;
}

a, a:visited, .broken_link {
  color: $link;
}

a:hover, .quote_link:hover, .broken_link:hover {
  color: $hover;
}

.quote_link {
  color: $quote;
}

.quote {
  color: $green;
}

.announcement {
  color: $header;
}

#post_form, .admin_form {
  form {
	.title {
	  background-color: $active;
	  border: 1px solid $active_border;
	}
  }
}

table {
  thead {
	td {
	  background-color: $post;
	  border: 1px solid $border;
	}
  }

  tr:nth-of-type(odd) {
	background-color: $background;
  }

  tr:nth-of-type(even) {
	background-color: $bg_light;
  }
}

.post_container {
  background-color: $post;
  border-right: 1px solid $border;
  border-bottom: 1px solid $border;

  &:target {
	background-color: $active;
	border-right: 1px solid $active_border;
	border-bottom: 1px solid $active_border;
  }
}

.post_subject {
  color: $subject;
}

.post_name, .post_trip {
  color: $name;
}

.post_menu .menu {
  background-color: $post;
  border:1px solid $border;

  div {
	border-right: 1px solid $border;
	border-bottom: 1px solid $border;

	form {
	  button {
		color: $header;

		&:hover {
		  color: $hover;
		}
	  }
	}
  }
}
